# Copyright (C) 2025 FairPhone B.V.
#
# SPDX-FileCopyrightText: 2025. FairPhone B.V.
#
# SPDX-License-Identifier: EUPL-1.2

*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/config/signing/

# Kotlin 2.0
.kotlin/%

# Secrets files
play-store-service-account.json
spring_launcher_release_key.jks
service_account.json
/*/google-services.json
